* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

a {
	color: #050505;
	text-decoration: none;
}

input {
	border: 0;   /*所有的表单边框为0*/
	box-sizing: border-box;  /*css3盒子模型  border 和  padding  包含到  width  里面去*/
}

.container {          /* 因为我们的版心宽度都是1200px 都要居中对齐  我们就声明一个公共类*/
	width: 1200px;
	margin: 0 auto;]
}

/*css初始化结束*/

/*-----------------------------------------------------------------------------------------------------------------------------------*/

/*页面头部分开始*/
body {
	background-color: #f3f5f7;  /*整个页面背景颜色*/
}

header {
	height: 100px;
	overflow: hidden;   /*防止外边距合并*/
}

nav {
	width: 1366px;
	height: 42px;
	margin: 26px auto 0;    /*盒子水平居中对齐*/

}
/*页面头部分结束*/

/*页面logo部分开始*/

.logo {
	float: left;
}
/*页面logo部分结束*/

/*页面导航栏部分开始*/

.navbar {
	float: left;
	height: 42px;
	line-height: 42px;  /*这个行高给父亲，  行高会继承*/
	margin-left: 50px; 
}

.navbar li {
	float: left;   /*让首页 课程  浮动*/
}

.navbar li a {
	padding: 0 8px;  /*上下是0 左右是8像素*/
	display: block;  /*a是行内元素，  给高需要转换块级*/
	height: 42px;
}

.navbar li a:hover {
	border-bottom: 2px solid #00a4ff;   /*鼠标放入有底边框*/
}
/*页面导航栏部分结束*/

/*页面搜索框部分*/

.search {
	width: 410px;
	height: 38px;
	border: 1px solid #00a4ff;
	float: right;
}

.search input[type=text] {    /*属性选择器   type  为  text  的文本框*/
	width: 360px;
	height: 38px;
	padding-left: 20px;
	float: left;

}

.search input[type=submit] {   /*属性选择器   type  为  submit  的文本框*/
	width: 50px;
	height: 38px;
	float: left;
	background: #00a4ff url(images/search_06.png) center center no-repeat;
}
/*页面搜索框部分结束*/

/*个人中心部分开始*/

.personal {
	float: right;
	height: 42px;
	line-height: 42px;
	margin: 0 15px 0 30px;   /*上  右  下  左*/
}

.personal img {
	margin: 0 8px;
}
/*个人中心部分结束*/

/*banner部分开始*/

.banner {
	height: 420px;
	background-color: #1c036c;

}

.banner-in {
	height: 420px;
	background: url(images/banner_03.png) 0 0 no-repeat;
}

.slidebar {
	height: 420px;
	width: 190px;
	background: rgba(0,0,0,0.3);    /*盒子背景半透明*/
	float: left;
} 

.slidebar li a {
	color: #fff;
	font-size: 14px;
	padding: 0 20px;
	display: block;      /*a是行内元素，  没有大小需要转换*/
	line-height: 45px;    /*单行垂直居中  个人经验， 很多情况下， 有了行高不用给高度*/
}

.slidebar li a:hover {
	color: #00a4ff;
}

.slidebar li a span {
	float: right;
	font-family: arial;    /*一般情况下我们的符号用这个字体*/
}

.timetable {
	float: right;
	width: 230px;
	height: 300px;
	background-color: #fff;
	margin-top: 50px;
}

.timetable dt {
	height: 50px;
	line-height: 50px;
	background-color: #9bceea;
	text-align: center;   /*文字水平居中*/
	color: #fff;
	font-weight: 700;  /*文字加粗*/
	letter-spacing: 2px;  /*设置字间距*/
	margin-bottom: 5px;
}

.timetable dd {
	width: 193px;
	height: 60px;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding-top: 14px;
	box-sizing: border-box;

}

.timetable dd:last-child {    /*结构伪类选择器  选最后一个孩子  暗示要求这个孩子是dd*/
	border: 0;
}

.timetable dd h4 {
	font-size: 16px;
	font-weight: normal;    /*让粗体不加粗*/
	color: #4e4e4e;
}

.timetable dd p {
	color: #a5a5a5;
	font-size: 14px;
}

.timetable dd a {
	height: 38px;
	border: 1px solid #00a4ff;
	display: block;
	text-align: center;
	line-height: 38px;
	color: #00a4ff;
	font-weight: 700; /* 文字加粗  不要加单位*/
}

.timetable dd a:hover {
	background-color: #00a4ff;
	color: #fff;
}
/*banner部分结束*/                                                    /*ctrl + g 快速到某一行*/

.recommend {
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	margin-top: 8px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);   /*盒子阴影  水平位置 垂直位置 模糊聚类 阴影颜色*/
}

.recommend a {
	padding: 0 30px;
	border-right: 1px solid #ccc;
}

.recommend a:hover {
	color: #00a4ff;
}

.recommend a:first-child {
	color: #00a4ff;
}

.recommend a:last-child {
	color: #00a4ff;
	border: 0;
	float: right;
	font-size: 14px;
}